<!-- begin tech_connect  -->
<div class="tech_connect">
    <div class="wmain">
        <div class="tabs tech_tabs">
            <ul class="tabs_nav">
                <li class="ui-tabs-active"><a href="#tabs-1">Физическим лицам</a></li>
                <li><a href="#tabs-2">Юридическим лицам</a></li>
            </ul>
            <div id="tabs-1">
                <div class="tech_tabs_content">
                
{*<div class="tech_title">
ТЕХНОЛОГИЧЕСКОЕ ПРИСОЕДИНЕНИЕ <a href="/uslugi/podklyuchenie"><i><img src="/assets/app/i/tex_ico_white.png"></i></a>
<ul class="tech_tabs_content_list">
    <li><a class="ttc_btn" href="#">Получить технические условия</a></li>
    <li><a class="ttc_btn ttc_btn2" href="#">  ЗАЯВКА НА ПОДКЛЮЧЕНИЕ</a></li>
</ul>
</div>*}
<ul class="tech_tabs_content_list">
    <li>
        <div class="ttcl_title">ГАЗИФИКАЦИЯ</div>
        <div class="ttcl_href">
            <a class="ttc_btn" href="/fl/tp">Технологическое присоединение <i class="fa fa-plus-square" aria-hidden="true"></i></a>
            <a class="ttc_btn" href="#">Проектирование <i class="fa fa-list-alt" aria-hidden="true"></i></a>
            <a class="ttc_btn" href="/uslugi/gazifikatsiya/montaj">Монтаж <i class="fa fa-wrench" aria-hidden="true"></i></a>
            <a class="ttc_btn" href="#">Газовое оборудование <i class="fa fa-fire" aria-hidden="true"></i></a>
            <a class="ttc_btn" href="#">Тепло под ключ <i class="fa fa-key" aria-hidden="true"></i></a>
        </div>
    </li>
    <li>
        <div class="ttcl_title">ЭКСПЛУАТАЦИЯ</div>
        <div class="ttcl_href">
            <a class="ttc_btn" href="/fl/pay">Способы оплаты за ТО и ремонт <i class="fa fa-credit-card" aria-hidden="true"></i></a>
            <a class="ttc_btn" href="/fl/exp/to-vdgo">Техническое обслуживание ВДГО</a>
            <a class="ttc_btn" href="#">Техническое обслуживание газопроводов</a>
            <a class="ttc_btn" href="#">Техническое обслуживание газовых котлов</a>
            <a class="ttc_btn" href="/fl/remont">Ремонт и замена газового оборудования</a>
        </div>
    </li>
</ul>
                </div>
            </div>
            <div id="tabs-2" style="display: none;">
                <div class="tech_tabs_content">
{*<div class="tech_title">
ТЕХНОЛОГИЧЕСКОЕ ПРИСОЕДИНЕНИЕ <a href="/uslugi/podklyuchenie"><i><img src="/assets/app/i/tex_ico_white.png"></i></a>
<ul class="tech_tabs_content_list">
<li><a class="ttc_btn ttc_btn2" href="#">ЗАЯВКА НА ПОДКЛЮЧЕНИЕ</a></li>
<li><a class="ttc_btn" href="#">Получить технические условия</a></li>
</ul>
</div>*}
                    
                    <ul class="tech_tabs_content_list">
    <li>
        <div class="ttcl_title">ГАЗИФИКАЦИЯ</div>
        <div class="ttcl_href">
            <a class="ttc_btn" href="#">Технологическое присоединение <i class="fa fa-plus-square" aria-hidden="true"></i></a>
            <a class="ttc_btn" href="#">Проектирование <i class="fa fa-list-alt" aria-hidden="true"></i></a>
            <a class="ttc_btn" href="#">Монтаж <i class="fa fa-wrench" aria-hidden="true"></i></a>
            <a class="ttc_btn" href="#">Газовое оборудование <i class="fa fa-fire" aria-hidden="true"></i></a>
        </div>
    </li>
    <li>
        <div class="ttcl_title">ЭКСПЛУАТАЦИЯ</div>
        <ul class="ttcl_href">
            <a class="ttc_btn" href="#">Плата за обслуживание <i class="fa fa-credit-card" aria-hidden="true"></i></a>
            <a class="ttc_btn" href="#">Техническое обслуживание ВДГО</a>
            <a class="ttc_btn" href="#">Техническое обслуживание газопроводов</a>
            <a class="ttc_btn" href="#">Техническое обслуживание газовых котлов</a>
        </ul>
    </li>
                    </ul>
                </div>
            </div>
        </div>
        {*<div class="tech_connect_bottom">
            <a href="#">Порядок технологического присоединения</a>
        </div>*}
    </div>
</div>
<!-- end tech_connect -->