<asset src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" slot="external"/>
<asset src="/js/jquery-ui.min.js" slot="external"/>

<asset src="/css/slick.css" slot="app"/>
<asset src="/js/slick.min.js" slot="app"/>

<asset src="/js/jquery.inputmask.js" slot="app"/>

<asset src="/js/sweetalert2.min.js"  slot="app"/>

<asset src="/css/jquery.fancybox.min.css" slot="app"/>
<asset src="/js/jquery.fancybox.min.js" slot="app"/>

<asset src="/css/jquery.formstyler.css" slot="app"/>
<asset src="/js/jquery.formstyler.min.js" slot="app"/>

<asset src="/js/form.min.js" slot="app"/>

<asset src="/js/main.js" slot="app"/>
<asset src="/js/home.js" slot="home"/>