<!-- pu -->
<div style="display: none;" class="pu_inner pu_consult">
    <a class="closeform" href="#"></a>
    <div class="pu_title"> Остались вопросы Мы ответим!</div>
    <form class="pu_consult_form">
        <div class="pcf_input">
            <textarea data="Ваш вопрос">Ваш вопрос</textarea>
            <input type="text" value="Ваше имя" data="Ваше имя">
            <input class="in_phone" type="text" value="Ваш телефон" data="Ваш телефон">
        </div>
        <div class="align_center">
            <button class="pu_btn_consult">  Получить бесплатную консультацию</button>
        </div>
    </form>
</div>